## K-Fold cross validation

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dataset = pd.read_csv("/content/Data.csv")


#identifying dependant and independant variable
x=dataset.iloc[:,:-1].values
y = dataset.iloc[:, -1].values

In [ ]:
dataset.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

In [ ]:
dataset.shape

(683, 11)

In [ ]:
#splitting the dataset

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)
#print(x_train)
#print(y_train)
#print(x_test)
print(y_test)

[2 2 2 2 2 2 4 2 4 2 2 4 4 2 2 2 2 2 2 2 2 4 4 4 4 2 4 4 2 2 2 4 4 2 2 2 2
 2 2 4 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2 2 4 4 4 4 2 4 4 2 4 2 4 4 4 4 2 2 2
 2 2 2 2 2 2 2 2 4 4 2 4 4 2 2 4 2 2 2 2 2 2 4 2 4 2 4 2 2 2 2 2 2 2 4 2 4
 4 2 4 4 2 4 2 2 4 2 2 4 4 2 2 4 2 2 4 4 2 2 2 4 2 2 4 4 2 2 2 2 2 2 2 2 4
 2 2 2 2 2 2 2 4 4 4 4 4 2 4 2 2 2 2 4 2 2 2 4]

In [ ]:
#feature scaling
#from sklearn.preprocessing import StandardScaler

#sc = StandardScaler()

#x_train = sc.fit_transform(x_train)
#x_test = sc.transform(x_test)

#print (x_train)
#print (x_test)

In [ ]:
#train the xgboost model

from xgboost import XGBClassifier
xgb =XGBClassifier()
xgb.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:

y_pred = xgb.predict(x_test)

from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
cm = confusion_matrix(y_pred,y_test)
print(cm)
accuracy_score(y_test,y_pred)

[[109   0]
 [  5  57]]

0.9707602339181286

In [ ]:
from sklearn.model_selection import cross_val_score

accuracies = cross_val_score(estimator = xgb, X = x_train,  y = y_train, cv = 40)

print("Accuracy : {:.2f}%".format(accuracies.mean() * 100))
print("Standard Devaition: {:.2f}%".format(accuracies.std() * 100))

Accuracy : 96.06%
Standard Devaition: 5.60%